@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* --------------HEADER-------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px 1px solid #b6b4b4;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    padding: 12px 0px;
}

/* --------------NAVBAR-------------- */
.navbar a {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    color: #081b29;
    font-weight: 600;
    margin-right: 50px;
    padding: 5px;
}

.navbar a.active {
    color: #CC0000;
    border-bottom: 2px solid #CC0000;
    transition: 1s;
}

.navbar a:hover {
    background: #e0dfdf;
    border-radius: 6px;
    width: 100%;
    transition: .3s;
}

/* -------------- MA PASSION-------------- */
.passion {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 10%;
}


.contenu-passion {
    width: 100%;
    max-width: 900px;
    /* limite la largeur sur grands écrans */
    text-align: center;
}

.contenu-passion p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.6;
    word-wrap: break-word;
}

#ActiveLeTexte p {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    width: 150px;
    height: 10%;
    background: rgb(39, 196, 39);
    border: 1px solid;
    border-radius: 9px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
}



#ActiveLeTexte p:hover {
    background: #081b29;

}

#TexteCache h1 {
    font-size: 2em;
    font-weight: 900;
    color: #CC0000;
    border-bottom: 1px solid #CC0000;
    margin-bottom: 15px;

}

#TexteCache a {
    text-decoration: none;
    color: #081b29;
}

#TexteCache a:hover {
    font-weight: 900;
    color: #CC0000;
}

.contenu-passion h1 {
    font-size: 2em;
    font-weight: 900;
    color: #CC0000;
    border-bottom: 1px solid #CC0000;
}

.contenu-passion P {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 1.5em;
    font-weight: 300;
    color: #081b29;
    margin: 10px 0 40px;
}

/* ----Affiche Ma passion ----- */
#TexteCache {
    display: none;
    opacity: 0;
    pointer-events: none;
}

#TexteCache.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: 4s ease;
    pointer-events: auto;
}

#TexteAeffacer.show {
    opacity: 0;
    transition: 1s ease;
    pointer-events: none;
}

/* ---------- FOOTER ----------- */
.footer {
    background-color: #111;
    color: #fff;
    padding: 50px 20px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    min-width: 220px;
}

.footer-section h3 {
    margin-bottom: 15px;
    color: #f5a623;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section a:hover,
.fleche a:hover {
    color: #f5a623;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #aaa;
    border-top: 1px solid #333;
    padding-top: 15px;
}

.fleche a {
    color: white;
    font-size: 34px;
    font-weight: 700;

}

#EffetDeBordure.show {
    border-bottom: 2px solid #f5a623;
    transition: 4s ease;
}

.fa-solid {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.fa-brands {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
}


.close-menu,
.menu-toggle {
    display: none;
    cursor: none;
}

/* ---------- MENU PLEIN ÉCRAN MOBILE ---------- */
@media (max-width: 860px) {

    .menu-toggle {
        color: #081b29;
        display: block;
        font-size: 32px;
        margin-right: 20px;
        cursor: pointer;
    }

    .menu-toggle:hover {
        background: #e0dfdf;
        border-radius: 6px;
        width: 100%;
    }

    .navbar a {
        width: 100%;
        margin-right: 40px;
        border-bottom: 1px solid black;
        width: 100%;
        padding: 20px;
    }

    .navbar a:hover {
        background: #e0dfdf;
        border-radius: 6px;
        width: 90%;
        text-align: center;
        transition: .3s;

    }

    .navbar a.active {
        color: #081b29;
        border-bottom: 1px solid #081b29;
    }

    .nav-links {
        position: fixed;
        inset: 0;
        /* top right bottom left = 0 */
        background: #ffffff;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        font-size: 1.8em;
        margin: 15px 0;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 25px;
        right: 30px;
        font-size: 35px;
        cursor: pointer;
        color: #081b29;
    }

}
